<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Sister's Cleaning Company</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <header class="bg-primary text-white text-center py-5">
    <h1>Welcome to the Sister's Cleaning Co.</h1>
    <p>Your trusted partner for a clean and healthy home or office.</p>
    <a href="{{ url_for('booking') }}" class="btn btn-success">Book Now</a>
  </header>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <img src="https://the-sisters-cleaning--modestechris.repl.co/static/image2.jpeg" alt="Cleaning Services" class="img-fluid rounded">
      </div>
      <div class="col-md-6">
        <section>
          <h2>About Us</h2>
          <p>We are a professional cleaning service dedicated to providing top-quality cleaning solutions for your home or office.</p>
        </section>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <section>
      <h2>Services offered</h2>
      <div class="row">
        {% for service in services %}
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-body">
              <h4 class="card-title">{{ service['title'] }}</h4>
              <p class="card-text"><b>Description</b>: {{ service['description'] }}</p>
              <p class="card-text"><b>Price</b>: {{ service['cost'] }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
  </div>

  <div class="container mt-5">
    <nav class="text-center">
      <a href="{{ url_for('contact') }}" class="btn btn-primary">Contact us for more Information</a>
    </nav>
  </div>

  <footer class="text-center mt-5">
    <p>&copy; 2023 The Sister's Cleaning Co.</p>
  </footer>
</body>
</html>
