<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Sister's Cleaning Company</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
  <header class="bg-primary text-white text-center py-5">
    <h1>Welcome to the Sister's Cleaning Co.</h1>
    <p>Your trusted partner for a clean and healthy home or office.</p>
    <a href="{{ url_for('booking') }}" class="btn btn-success">Book Now</a>
  </header>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <img src="https://the-sisters-cleaning--modestechris.repl.co/static/image2.jpeg" alt="Cleaning Services" class="img-fluid rounded">
      </div>
      <div class="col-md-6">
        <section>
          <h2>About Us</h2>
          <p>The Sister's Cleaning Company is dedicated to delivering eco-friendly and efficient cleaning services throughout Winnipeg. Our mission is to provide exceptional cleaning services that promote a healthier and more sustainable living and working environment. Committed to sustainability, we offer a wide range of services, including Eco-Friendly House Cleaning, Post Construction Cleaning, Airbnb Cleaning, and Building Maintenance. Our highly trained professionals use environmentally friendly products and methods to ensure thorough cleaning and sanitation in both residential and commercial spaces. Whether you're a homeowner, business owner, or Airbnb host, The Sister's Cleaning Company is unwavering in its commitment to delivering top-notch cleaning services that are safe for you, your loved ones, and the environment. Reach out to us today for a spotless, invigorating living or working space!</p>
        </section>
      </div>
    </div>
  </div>

  <div class="p-3 mb-2 bg-primary text-white">
    <section>
      <div class="p-3 mb-2 bg-primary text-white">
        <section>
          <h2>Services offered</h2>
          <div class="column">
            {% for service in services %}
            <div class="col-md-4">
              <div class="card mb-4">
                <div class="card-body">
                  <h4 class="card-title">{{ service['title'] }}</h4>
                  <p class="card-text"><b>Description</b>: {{ service['description'] }}</p>
                  {% if service['title'] == 'House cleaning' %}
                  <p class="card-text"><i class="fas fa-home"></i> </p>
                  {% elif service['title'] == 'Post-construction cleaning' %}
                  <p class="card-text"><i class="fas fa-tools"></i> </p>
                  {% elif service['title'] == 'Move in/ Move out cleaning' %}
                  <p class="card-text"><i class="fas fa-truck-moving"></i> </p>
                  {% elif service['title'] == 'Airbnb Cleaning' %}
                  <p class="card-text"><i class="fas fa-bed"></i> </p>
                  {% else %}
                  <!-- Add a default icon or text for other services -->
                  <p class="card-text">Icon or Text for Other Services</p>
                  {% endif %}
                  <!-- <p class="card-text"><b>Price</b>: {{ service['cost'] }}</p> -->
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </section>
      </div>



  <div class="container mt-5">
    <nav class="text-center">
      <a href="{{ url_for('contact') }}" class="btn btn-primary">Contact us for more Information</a>
    </nav>
  </div>
  <!--<p><i class="fas fa-home"></i> House Cleaning</p>
  <p><i class="fas fa-tools"></i> Post-Construction Cleaning</p>
  <p><i class="fas fa-truck-moving"></i> Move-In/Move-out Cleaning</p>
  <p><i class="fas fa-bed"></i> Airbnb Cleaning</p> -->

  <footer class="text-center mt-5">
    <p>&copy; 2023 The Sister's Cleaning Co.</p>
  </footer>
</body>
</html>
